{% load static %}

{% load static %}
<footer class="">
    <div class="header-footer">
        <a href="{% url 'index' %}"><span>Write a Class</span></a>
        <div class="footer-logo">
            <span class="active-span"><a href="{% url 'login' %}">1. Crie sua conta</a></span>
            <span>2. Escolha seus Interesses</span>
            <span class="active-span">3. Acesse as Aulas</span>
            <span>4. Aprenda Rápido</span>
        </div>
        <div class="header-footer-icons">
            <a href="https://github.com/baptistafabricio87/writeaclass"><ion-icon name="logo-github"></a></ion-icon>
            <a href="#"><ion-icon name="logo-instagram"></a></ion-icon>
            <a href="#"><ion-icon name="logo-twitter"></a></ion-icon>
        </div>
    </div>
</footer>
