{% load static %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary main-header">
        <div class="container-fluid">
            <a class="navbar-brand margin-a-nav" href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" class="imglogo img-fluid">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-ul">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sobre' %}">Sobre Nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'salas' %}">Salas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contato' %}">Contato</a>
                    </li>

                </ul>
                <div class="user-wrapper">
                    <a class="nav-link" href="{% url 'login' %}"><ion-icon name="person-circle-outline"
                            class="user-icon"></ion-icon></a>
                </div>

                <form class="d-flex" role="search">
                    <input class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit"><ion-icon name="search-outline"></ion-icon></button>
                </form>
            </div>
        </div>
    </nav>
