{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="section3">
        <div class="form-box">
            <div class="form-value">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <center>
                        <h2>Login</h2>
                    </center>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email"required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label for="">Senha</label>
                    </div>
                    <div class="forget">
                        <label for=""><a href="#">Esqueci minha senha</a></label>
                    </div>
                    <button>Log in</button>
                    <div class="register">
                        <p>
                            <a href="{% url 'signup' %}">Não tem uma conta? Registre-se</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}
