{% load static %}
    <div class="header-footer fixed">
        <span><a href="{% url 'login' %}">1. Crie sua conta</a></span>
        <span>2. Escolha seus Interesses</span>
        <span>3. Acesse as Aulas</span>
        <span class="active-span">4. Aprenda Rápido</span>
        <div class="header-footer-icons">
            <a href="#"><ion-icon name="logo-twitter"></a></ion-icon>
            <a href="#"><ion-icon name="logo-instagram"></a></ion-icon>
            <a href="#"><ion-icon name="logo-facebook"></a></ion-icon>
        </div>
    </div>