{% extends "base.html" %}
{% load static %}
{% block content %}

    <section class="section3">
        <div class="form-box">
            <div action="" class="form-value">
                <form name="contato">
                    {% csrf_token %}
                    <center>
                        <h2>Entre em contato</h2>
                    </center>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" required>
                        <label for="">Nome Completo</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="call-outline"></ion-icon>
                        <input type="tel" required>
                        <label for="">Telefone</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="document-text-outline"></ion-icon>
                        <input type="text" rows="10" cols="30">
                        <label for="">Mensagem</label>
                    </div>
                    <div class="register">
                        <button>Enviar &#128389; </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}
