{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="section1">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1><strong>Plataforma de Conteúdo e Ensino Compartilhado</strong></h1>
                <h2 class="yellow-var">Comece agora, Aluno</h2>
                <p class="yellow-var">
                    Acesse os conteúdos educacionais que mais te interessem e receba as notificações dos criadores de
                    conteúdos que mais te agradam.
                    Aprenda sem interrupções em uma plataforma simples e gratuita
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <img 
                src="https://images.pexels.com/photos/3813345/pexels-photo-3813345.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..." width="100%"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="card-wrapper">
                    <div class="card-hero">
                        <div class="icon-hero">
                            <ion-icon name="home-outline" class="icon-100"></ion-icon>
                        </div>
                        <p>
                            Acesse seu perfil e reveja conteúdos anteriores ou recomendações com base nos tópicos mais
                            visualizados e curtidos.
                        </p>
                    </div>
                    <div class="card-hero">
                        <div class="icon-hero">
                            <ion-icon name="play-skip-forward-outline" class="icon-100"></ion-icon>
                        </div>
                        <p>
                            Pare a qualquer momento a sua aula e retome ela no momento que for mais agradável. Entre em
                            outros tópicos a qualquer instante sem fechar a sua aula atual.
                        </p>
                    </div>
                    <div class="card-hero">
                        <div class="icon-hero">
                            <ion-icon name="heart-outline" class="icon-100"></ion-icon>
                        </div>
                        <p>
                            Curta e compartilhe aulas com pessoas que tem os mesmos interesses que o seu e deixe seu
                            feedback nos tópicos para mostrar que está sabendo do conteúdo que assistiu!
                        </p>
                    </div>
                    <div class="card-hero">
                        <div class="icon-hero">
                            <ion-icon name="person-outline" class="icon-100"></ion-icon>
                        </div>
                        <p>
                            Aplique seu conhecimento adquirido na sua carreira profissional, 
                            educacional, e até mesmo em sua vida pessoal!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card-right">
                    <h5 class="card-right-h5"><strong>50+</strong></h5>
                    <span>Tópicos de Interesse</span>
                    <div class="avatar-icons-hero">
                        <img src="{% static 'img/1-avatar.jpg' %}" class="avatar-icons-hero-img">
                        <img src="{% static 'img/2-avatar.jpg' %}" class="avatar-icons-hero-img">
                        <img src="{% static 'img/3-avatar.jpg' %}" class="avatar-icons-hero-img">
                        <img src="{% static 'img/4-avatar.jpg' %}" class="avatar-icons-hero-img">
                        <img src="{% static 'img/5-avatar.jpg' %}" class="avatar-icons-hero-img">
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--
        <div class="header-footer">
            <span><a href="{% url 'login' %}">1. Crie sua conta</a></span>
            <span>2. Escolha seus Interesses</span>
            <span>3. Acesse as Aulas</span>
            <span class="active-span">4. Aprenda Rápido</span>

            <div class="header-footer-icons">
                <a href="#"><ion-icon name="logo-twitter"></a></ion-icon>
                <a href="#"><ion-icon name="logo-instagram"></a></ion-icon>
                <a href="#"><ion-icon name="logo-facebook"></a></ion-icon>
            </div>
        </div>
-->

    <section class="section2">
        <div class="row ">
            <div class="col-md-12">
                <wbr>
                <h1>Um novo universo de possibilidades, construído por nós, para nós.</h1>
                <p class="main-section-p">
                    Write a class é um ecossistema de inovações criativas para criadores de
                    conteúdos e alunos.In elementis mé pra quem é amistosis quis leo.Delegadis gente finis, bibendum
                    egestas augue arcu ut est.Diuretics paradis num copo é motivis de denguis.A ordem dos tratores não
                    altera o pão duris.
                </p>
                <button class="main-section-btn">Construa com a Gente</button>
            </div>
        </div>
    </section>
    <section class="main-card-section container">
        <div class="card-main-wrapper">
            <div class="card bg" style="width: 18rem;">
                <img src="{% static 'img/card-1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aprenda em poucos minutos</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary btn-card-section">Go somewhere</a>
                </div>
            </div>
            <div class="card bg" style="width: 18rem;">
                <img src="{% static 'img/card-2.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Conteúdos diversificados</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary btn-card-section">Go somewhere</a>
                </div>
            </div>
            <div class="card bg" style="width: 18rem;">
                <img src="{% static 'img/card-3.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Estude com a gente!</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary btn-card-section">Go somewhere</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
